extends ../../layouts/default.pug

block main
  if role.permissions.includes("roles_create")
    h1(class="mb-4") Thêm Mới Nhóm Quyền

    form(
      action=`${prefixAdmin}/roles/create`
      method="POST"
    )
      div(class="form-group")
        label(for="title") Tiêu Đề
        input(
          type="text"
          class="form-control"
          id="title"
          name="title"
          placeholder="Ví dụ : Admin, Product Manager, Blog Manager,..."
          required
        )
      
      div(class="form-group")
        label(for="roleType") Loại Vai Trò
        input(
          type="text"
          class="form-control"
          id="roleType"
          name="roleType"
          placeholder="Ví dụ : admin, product_manager, blog_manager,..."
          required
        )
      
      div(class="form-group")
        label(for="desc") Mô Tả
        input(
          type="text"
          class="form-control"
          id="desc"
          name="description"
        )
      div(class="form-group")
        button(
          type="submit"
          class="btn btn-primary"
        ) Tạo Mới