extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/moment.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/form-change-multi.pug

block main
  if role.permissions.includes("contacts_view")
    +alert-success(5000)
    +alert-error(5000)

    h1 Danh Sách Liên Hệ

    .card.mb-3
      .card-header Bộ Lọc và Tìm Kiếm
      .card-body
        .row
          .col-6
            +filter-status(filterStatus)
          .col-6
            +search(keyword,"Tìm theo chủ đề...")

    .card.mb-3
      .card-header Danh Sách Blog
        .card-body
          .row
            .col-8
              if role.permissions.includes("contacts_edit")
                +form-change-multi(
                  `${prefixAdmin}/contacts/change-multi?_method=PATCH`,
                  actionPresetConstant.contactAction, 
                  "Bạn Có Chắc Muốn Xóa Các Liên Hệ Này Không?"
                )
            .col-4

          table.table.table-hover.table-sm(checkbox-multi)
            thead
              tr
                th
                    input(type="checkbox" name="checkall")
                th STT
                th Họ Tên
                th Email
                th Chủ Đề
                th Trạng Thái
                th Ngày Gửi
                th Thao Tác

            tbody
              each item, index in contacts
                tr
                  td
                    input(
                      type="checkbox"
                      name="id"
                      value=item.id
                    )
                  td #{index + 1}
                  td #{item.fullName}
                  td #{item.email}
                  td #{item.subject}
                  td
                    if role.permissions.includes("contacts_edit")
                      if item.status == "resolved"
                        a( 
                          href="javascript:;"
                          data-status=item.status
                          data-id=item.id
                          button-change-status
                          class="badge badge-success"
                        ) Đã Xử Lý
                      else
                        a( 
                          href="javascript:;"
                          data-status=item.status
                          data-id=item.id
                          button-change-status
                          class="badge badge-warning"
                        ) Chờ Xử Lý
                  td
                    +formatDateTime(item.createdAt)
                  td 
                    a(
                      href=`${prefixAdmin}/contacts/detail/${item.id}`
                      class="btn btn-info btn-sm m-1"
                    ) Chi Tiết 
                    if role.permissions.includes("contacts_delete")  
                      button(
                        class="btn btn-danger btn-sm m-1"
                        button-delete
                        data-id=item.id
                      ) Xóa

    form(
      action=""
      method="POST"
      id="form-change-status"
      data-path=`${prefixAdmin}/contacts/change-status`
    ) 

    form(
      action=""
      method="POST"
      id="form-delete-item"
      data-path=`${prefixAdmin}/contacts/delete`
    )

    script(src="/admin/js/contact.js") 
    
        