mixin form-change-multi(path, presets = [], confirmText = null)
  - const actionOptions = presets;

  form(
    action=path
    method="POST"
    form-change-multi
    data-confirm=confirmText
  )
    .d-flex.align-items-start
      .form-group
        select(name="type" class="form-control")
          option(disabled selected) -- Chọn Hành Động --
          each option in actionOptions
            option(value=option.value) #{option.label}
      .form-group
        input(
          type="text"
          name="ids"
          value=""
          class="form-control d-none"
        )  
      button(type="submit" class="btn btn-primary") Áp Dụng