mixin sort(presets)
  - const sortOptions = presets || [];

  div(sort)
    if sortOptions.length > 0
      select(
        class="form-control"
        name="sort"
        sort-select
      )
        each option in sortOptions
          option(value=option.value) #{option.label}

    button(
      class="btn btn-danger mt-2"
      sort-clear
    ) Clear