extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  if role.permissions.includes("blogs_create")
    +alert-error(5000)

    h1(class="mb-4") Thêm Mới Bài Viết

    form(
      action=`${prefixAdmin}/blogs/create`
      id="form-create-blog"
      method="POST"
      enctype="multipart/form-data"
    )
      div(class="form-group")
        label(for="title") Tiêu Đề
        input(
          type="text"
          class="form-control"
          id="title"
          name="title"
          required
        )

      div(class="form-group")
        label(for="blog_category_id") Danh Mục Blog
        select(
          name="blog_category_id"
          id="blog_category_id"
          class="form-control"
        )
          option(value="") -- Chọn Danh Mục --
          if blogCategory
            each item in blogCategory 
              option(value=item.id) #{item.title}

      div(class="form-group")
        label(for="summary") Tóm Tắt Ngắn
        textarea(
          class="form-control"
          id="summary"
          name="summary"
          rows="5"
        )

      div(class="form-group")
        label(for="content") Nội Dung
        textarea(
          class="form-control textarea-mce"
          id="cont"
          name="content"
          rows="10"
        )

      div(class="form-group")
        label(for="author") Tác Giả
        input(
          type="text"
          class="form-control"
          id="author"
          name="author"
        )

      div(
        class="form-group"
        upload-image
      )
        label(for="thumbnail") Hình Ảnh
        input(
          type="file"
          class="form-control-file"
          id="thumbnail"
          name="thumbnail"
          accept="image/*"
          upload-image-input
        )
        img(
          src="" 
          upload-image-preview
          class="image-preview"
        )

      div(class="form-group")
        label(for="position") Vị Trí
        input(
          type="number"
          class="form-control"
          id="position"
          name="position"
          placeholder="Tự Động Tăng"
          min="1"
        )

      div(class="form-group form-check form-check-inline")
        input(
          type="radio"
          class="form-check-input"
          id="statusDraft"
          name="status"
          value="draft"
          checked
        )
        label(for="statusDraft" class="form-check-label") Bản Nháp

      div(class="form-group form-check form-check-inline")
        input(
          type="radio"
          class="form-check-input"
          id="statusPublished"
          name="status"
          value="published"
        )
        label(for="statusPublished" class="form-check-label") Công Khai

      div(class="form-group")
        button(
          type="submit"
          class="btn btn-primary"
        ) Tạo Bài Viết

    script(src="/admin/js/blog.js")
