extends ../../layouts/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/alert.pug
include ../../mixins/sort.pug
include ../../mixins/moment.pug


block main
  if role.permissions.includes("products_view")
    +alert-success(5000)

    h1 Danh Sách Blog

    .card.mb-3
      .card-header Bộ Lọc và Tìm Kiếm
      .card-body
        .row
          .col-6
            +filter-status(filterStatus)
          .col-6
            +search(keyword)

    .card.mb-3
      .card-header Sắp Xếp
      .card-body
        .row
          .col-4
            +sort(sortPresetConstant.blogSort)

    .card.mb-3
      .card-header Danh Sách Blog
        .card-body
          .row
            .col-8
              
            .col-4
              a(
                href=`${prefixAdmin}/blogs/create`
                class="btn btn-outline-primary mb-3"
              ) + Thêm Mới

          table.table.table-hover.table-sm
            thead
              tr
                th STT
                th Hình Ảnh
                th Tiêu Đề
                th Tác Giả
                th Vị Trí
                th Trạng Thái
                th Người Tạo
                th Người Cập Nhật ( Gần Nhất )
                th Thao Tác

            tbody
              each item, index in blogs
                tr
                  td #{index + 1}
                  td
                    img( 
                      src=item.thumbnail
                      alt=item.title
                      width="100px"
                      height="auto"
                    )
                  td #{item.title}
                  td #{item.author}
                  td 
                    input(
                      type="number"
                      value=item.position
                      style="width: 60px"
                      min="1"
                      name="position"
                    )
                  td
                    if item.status == "published"
                      a( 
                        href="javascript:;"
                        data-status=item.status
                        data-id=item.id
                        button-change-status
                        class="badge badge-success"
                      ) Công Khai
                    else
                      a( 
                        href="javascript:;"
                        data-status=item.status
                        data-id=item.id
                        button-change-status
                        class="badge badge-warning"
                      ) Bản Nháp
                  td
                    if item.createdBy && item.createdBy.accountFullName
                      p.text-center #{item.createdBy.accountFullName} 
                      p.text-center
                        +formatDate(item.createdBy.createdAt)        
                    else
                      p.text-center N/A	
                  td
                    - const updatedBy = item.updatedBy.slice(-1)[0];
                    if updatedBy
                      p.text-center #{updatedBy.accountFullName} 
                      p.text-center
                        +formatDateTime(updatedBy.updatedAt)    
                  td 
                    a(
                      href=`${prefixAdmin}/blogs/detail/${item.id}`
                      class="btn btn-info btn-sm m-1"
                    ) Chi Tiết 
                    if role.permissions.includes("blogs_edit")
                      a(
                        href=`${prefixAdmin}/blogs/edit/${item.id}`
                        class="btn btn-warning btn-sm m-1"
                      ) Sửa
                    if role.permissions.includes("blogs_delete")  
                      button(
                        class="btn btn-danger btn-sm m-1"
                        button-delete
                        data-id=item.id
                      ) Xóa

    form(
      action=""
      method="POST"
      id="form-change-status"
      data-path=`${prefixAdmin}/blogs/change-status`
    ) 

    form(
      action=""
      method="POST"
      id="form-delete-item"
      data-path=`${prefixAdmin}/blogs/delete`
    )

    script(src="/admin/js/blog.js") 
    
        